<h1>Thanks for shopping with us!</h1>
<p>Your order will be ready in 30 minutes.</p>
<blockquote class="blockquote text-center">
    <%= image_tag("https://media1.giphy.com/media/xUOxeRP7tdqPm1M4CI/source.gif", :size => "300x300") %>
</blockquote>