<h1>Editing Ingredient</h1>

<%= render 'form', ingredient: @ingredient %>

<%= link_to 'Show', @ingredient , class: 'btn btn-primary'%> |
<%= link_to 'Back', ingredients_path, class: 'btn btn-danger' %>
