<h1>Editing Ingredient<%= image_tag("https://thumbs.gfycat.com/GoodnaturedShimmeringHuia-small.gif", :size => "150x150") %></h1>

<%= render 'form', ingredient: @ingredient %>

<%= link_to 'Show', @ingredient , class: 'btn btn-primary'%> |
<%= link_to 'Back', ingredients_path, class: 'btn btn-danger' %>
