<h1>New Ingredient</h1>
<%= render 'form', ingredient: @ingredient %>
<%= link_to 'Back', ingredients_path %>

<blockquote class="blockquote text-right"><%= image_tag("https://media.giphy.com/media/hV0D15h8onMn9Pn6e7/giphy.gif", :size => "200x250") %></blockquote>